# this is sshfwd's conf file with every valid line in this file represents an ssh server to create a tunnel to
#
# type A) elements on a single line should be (directly create a tunnel to server, using 'ssh -D' option):
#   1) tunnel_id
#   2) local interface to bind the tunnel
#   3) local port to bind the tunnel
#   4) remote ssh server's ip, hostname or alias
#   5) remote ssh server's port
#   6) username
#   7) password (optional)
#
# type B) elements on a single line should be (forward some port from server to local, using 'ssh -L' option):
#   1) tunnel_id
#   2) local interface to bind the tunnel
#   3) local port to bind the tunnel
#   4) remote interface where you need to tunnel
#   5) remote port you need to tunnel
#   6) remote ssh server's ip, hostname or alias
#   7) remote ssh server's port
#   8) username
#   9) password (optional)
#
# so you should have exactly 6 or 7(type A with password) or 8 or 9(type B with password) elements in a valid line
# in case no password is configured in a valid line (6 for type a or 8 for type b), sshfwd would assume you have already set the server's private key properly
# all elements should be separated by 3 consecutive underscores ('_#_') in a valid line
# no space or comments are allowed in a valid line

# type A examples:
mytunnel-1_#_127.0.0.1_#_3377_#_1.2.3.4_#_22_#_someone1_#_password1
mytunnel-2_#_0.0.0.0_#_3388_#_somehost2_#_22_#_someone2
mytunnel-3_#_localhost_#_3399_#_5.6.7.8_#_22_#_someone3_#_password3

# type B examples:
mytunnel-4_#_0.0.0.0_#_3388_#_127.0.0.1_#_80_#_somehost4_#_22_#_someone4
mytunnel-5_#_localhost_#_3399_#_127.0.0.1_#_3306_#_6.7.8.9_#_22_#_someone5_#_password5

